body{
    background-color:white;
    font-family:arialblack;
    display:flex;
    justify-content:center;
    padding: 300px;
    gap: 80px;
    margin: auto;
    }
.instagram-feed photo {
    width:100%;
    max-width:950px;
    display:grid;
    grid-template-columns:3,1fr;
    gap: 20px;
}
.image-wrapper {
    position:relative;
    width:100%;
    padding-top:100%;
    overflow:hidden;
    border-radius:10px;
}

